:root {
    --sidebar-width: 300px;
    --sidebar-background: #fff;
    --sidebar-border: 2px solid darkgray;
    --sidebar-button-back: #fff;
    --sidebar-button-back-accent: #333;
    --sidebar-button-color: #333;
    --sidebar-button-color-accent: #ededed;
    --sidebar-search-bar-height-open: 0px;
}

.annotationSection.side {
    position: fixed;
    top: 0px;
    top: var(--nav-bar-offset);
    left: 0;
    width: 300px;
    width: var(--sidebar-width);
    min-width: 150px;
    height: 100%;
    height: calc(100% - var(--nav-bar-offset));
    padding: 5px;
    overflow-x: hidden;
    background: white;
    background: var(--sidebar-background);
    overflow-y: auto; /* let the browser control when to show/hide the scrollbar based on the content */
    -moz-box-shadow: 4px 0px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 4px 0px 4px rgba(0,0,0,0.3);
    box-shadow: 4px 0px 4px rgba(0,0,0,0.3);
    padding-top: 60px;
    /* For videojs */
    z-index: 999;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='rgba(0,0,0,0.3)')";
}

.annotationSection img, .annotationSection iframe {
    max-width: 247px;
    max-width: calc(var(--sidebar-width) - 53px);
    max-height: 150px;
    width: auto!important;
}

.annotation-slot {
    margin-left: 300px;
    margin-left: var(--sidebar-width);
}

.annotationSection .delete, .edit {
    background: #fff;
    background: var(--sidebar-button-back);
    outline: 0;
    border: 0;
    color: #888;
    color: var(--sidebar-button-color);
}

.annotationSection .delete:hover, .annotationSection .delete:focus, .annotationSection .edit:hover, .annotationSection .edit:focus, #hide_label:hover, #hide_label:focus, .open-sidebar:hover, .open-sidebar:focus {
    color: #888;
    color: var(--pop-color);
}

.annotationSection .annotationsHolder {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.annotationSection .annotationsHolder.search-opened {
    height: calc(100% - 73px);
    height: calc(100% - var(--sidebar-search-bar-height-open));
}

.annotationSection .annotationsHolder .annotation-viewer-side {
    height: 100%;
}

.annotationSection .annotationsHolder .annotation-viewer-side .annotation-text-field {
    max-height: 100%!important;
}

.annotationSection .annotationsHolder .annotationItem {
    border: 2px solid rgba(88, 88, 88, 0.2);
    border-color: var(--accent-font-color);
    background: white;
    background: var(--text-background);
    padding: 10px;
    margin-top: 17px;
    width: calc(100% - 5px);
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
}

.annotationSection .annotationsHolder .annotationItem .annotatedBy{
    font-weight: bold;
    font-size: 11pt;
}

.annotationSection .annotationsHolder .annotationItem .quote{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 20px;
    color: var(--accent-font-color);
    border-left: 2px solid var(--accent-color);
    font-size: 8pt;
    cursor: pointer;
}

.annotationSection .annotationsHolder .annotationItem .body {
    margin-bottom: 10px;
}

.annotationSection .annotationsHolder .annotationItem .annotation-tag{
    padding: 5px;
    border: 1px solid var(--dark-font-color);
    display: inline-block;
}

button.sidebar-button {
    position: absolute;
    background: black;
    background: var(--accent-color);
    width: 100%;
    color: white;
    top: 0;
    border: 0;
}

button.sidebar-button#create-annotation-side{
    left: 0px;   
}

button.sidebar-button#search {
    left: 0px;
}

button.sidebar-button#hide_label {
    left: 0px;
    text-align: right;
}

.two-button-version button#hide_label {
    display: none;
}
.two-button-version button#create-annotation-side {
    width: 151.5px;
}
.two-button-version button#search {
    width: 151.5px;
    left: 153px;
}

.annotation-filter-buttons.btn-group {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
}

.annotation-filter-buttons.btn-group .btn {
    background: var(--sidebar-button-color-accent);
    color: var(--dark-font-color);
}

.annotation-filter-buttons.btn-group .btn.active {
    background-color: white;
    background-color: var(--sidebar-background);
    border-bottom: 0px solid white;
    border-bottom-color: var(--sidebar-background);
    color: rgb(17, 118, 178);
    color: var(--pop-color);
    font-weight: bold;
    font-size: 0.9em;
    cursor: default;
    padding-top: 10px;
}

.btn.user-filter {
    border-radius: 0;
    /*background: white;*/
    border: 1px solid rgb(160, 216, 242);
    border-color: var(--accent-font-color);
    width: 25%;
    /*color: rgb(17, 118, 178);*/
    position: absolute;
    padding: 6px 6px;
    /*box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.4),
        inset 0 -2px 3px rgba(0,0,0,0.1),
        0 1px 1px rgba(255,255,255,0.9);*/
}

.btn.user-filter.active {
    box-shadow: none;
    color: rgb(17, 118, 178);
    color: var(--accent-color);
}

/*.btn.user-filter.selected {
    background: rgb(17, 118, 178);
    color: white;
    font-weight: bold;
    box-shadow: none;
}*/

/* plugins */
.token-input-input-token input {
    width: 100%!important;
}

.popover, .tooltip {
    z-index: 99999;
}

.search-bar .input-group .input-group-btn {
    width: 120px;
}

.search-bar {
    margin-bottom: 5px;
    height: 73px;
    height: var(--sidebar-search-bar-height);
}

#search-submit, #search-clear {
    width: 50%;
    border-radius: 0;
}

#tag-search-alert {
    padding: 10px;
    font-size: 8pt;
    border: 1px dashed black;
    cursor: pointer;
    background: rgba(88,88,88,0.1);
}

.handle-button {
    position: absolute;
    float: right;
    top: 5px;
    right: 15px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}


/* misc */
div[class^="reply-list"] {
    cursor: pointer;
}

.reply-row:nth-child(odd) {
    background: rgb(240, 240, 240);
}

.buttons-4 .btn{
    width: 25%;
    width: calc(25% + 1px);
}

.buttons-4 .btn:nth-child(1) {
    left: 0;
}

.buttons-4 .btn:nth-child(1).active {
    width: calc(25% + 1px);
}

.buttons-4 .btn:nth-child(2) {
    left: 25%;
}

.buttons-4 .btn:nth-child(2).active {
    width: calc(25% + 2px);
}

.buttons-4 .btn:nth-child(3) {
    left: 50%;
}

.buttons-4 .btn:nth-child(3).active {
    left: calc(50% - 1px);
    width: calc(25% + 3px);
}

.buttons-4 .btn:nth-child(4) {
    left: 75%;
}

.buttons-4 .btn:nth-child(4).active {
    left: calc(75% - 2px);
}

.buttons-3 .btn{
    width: 33.3333%;
}

.buttons-3 .btn:nth-child(1) {
    left: 0;
}

.buttons-3 .btn:nth-child(2) {
    left: 33.3333%;
}

.buttons-3 .btn:nth-child(3) {
    left: 66.6666%;
}

.buttons-2 .btn{
    width: 50%;
}

.buttons-2 .btn:nth-child(1) {
    left: 0;
}

.buttons-2 .btn:nth-child(2) {
    left: 50%;
}

.buttons-1 .btn{
    width: 100%;
}

.buttons-1 .btn:nth-child(1) {
    left: 0;
}

.smalltab {
    position: fixed;
    left: 0;
    top: 10px;
    width: 50px;
    height: 50px;
    font-size: 34px;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    background: black;
}

.sidemenu {
    position: fixed;
    left: 0;
    top: 0px;
    top: var(--nav-bar-offset);
    width: 40px;
    height: 100%;
    height: calc(100% - var(--nav-bar-offset));
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    background: black;
    background: var(--accent-color);
}

.side .action-button.save {
    background: #333;
    background: var(--accent-color);
}

.side .action-button.cancel {
    background: #eee;
    background: var(--accent-font-color);
}

.side .action-button {
    width: 50%;
    border-radius: 0px;
    margin: 0;
    font-weight: bolder;
}

.load-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    width: var(--sidebar-width);
    background: #333;
    background: var(--accent-color);
    color: white;
    padding: 5px;
    text-align: center;
    border-top: 1px solid white;
    border-top-color: var(--sidebar-background);
    cursor: pointer;
}

.make-jiggle {
    -webkit-animation-name: jiggle;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: jiggle;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 3;
    -moz-animation-timing-function: linear;
    -ms-animation-name: jiggle;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 3;
    -ms-animation-timing-function: linear;

    animation-name: jiggle;
    animation-duration: 0.4s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

@-ms-keyframes jiggle {
    0% {
        transform: rotate(0deg);
        bottom: 0px;
    }
    25% {
        transform: rotate(1deg);
        bottom: 3px;
    } 50% {
        transform: rotate(0deg);
        bottom: 0px;
    } 75% {
        transform: rotate(-1deg);
        bottom: 3px;
    } 100% {
        transform: rotate(0deg);
        bottom: 0px;
    }
}

@-moz-keyframes jiggle {
    0% {
        transform: rotate(0deg);
        bottom: 0px;
    }
    25% {
        transform: rotate(1deg);
        bottom: 3px;
    } 50% {
        transform: rotate(0deg);
        bottom: 0px;
    } 75% {
        transform: rotate(-1deg);
        bottom: 3px;
    } 100% {
        transform: rotate(0deg);
        bottom: 0px;
    }
}

@-webkit-keyframes jiggle {
    0% {
        transform: rotate(0deg);
        bottom: 0px;
    }
    25% {
        transform: rotate(1deg);
        bottom: 3px;
    } 50% {
        transform: rotate(0deg);
        bottom: 0px;
    } 75% {
        transform: rotate(-1deg);
        bottom: 3px;
    } 100% {
        transform: rotate(0deg);
        bottom: 0px;
    }
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg);
        bottom: 0px;
    }
    25% {
        transform: rotate(1deg);
        bottom: 3px;
    } 50% {
        transform: rotate(0deg);
        bottom: 0px;
    } 75% {
        transform: rotate(-1deg);
        bottom: 3px;
    } 100% {
        transform: rotate(0deg);
        bottom: 0px;
    }
}

.make-spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*button[id^="replies-close"], div[id^="create-reply"] button {
    width: 100%;
    margin-top: 5px;
    /* margin-bottom: 5px;
    background: darkred;
    color: white;
    margin-bottom: 5px;
}*/

/*div[id^="create-reply"] button {
    background: darkblue;
}*/