/* Common Root Variables */
:root {
    --nav-bar-offset: 50px;
    --main-background: #F7F9FB;
};


/* Persistent Scrollbar */
/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #555;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
}*/

.force-show-scrollbars ::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #E7E7E7;
    box-shadow: 1px 0 1px 0 #F6F6F6 inset, -1px 0 1px 0 #F6F6F6 inset;
}

.force-show-scrollbars ::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #E7E7E7;
    box-shadow: 0 1px 1px 0 #F6F6F6 inset, 0 -1px 1px 0 #F6F6F6 inset;
}

.force-show-scrollbars ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #FAFAFA;
    width: 16px;
}

.force-show-scrollbars ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #C1C1C1;
    border-color: transparent;
    border-radius: 9px 8px 8px 9px;
    border-style: solid;
    border-width: 3px 3px 3px 4px; /* Workaround because margins aren't supported */
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* Unfortunately scrollbars can't use CSS transitions. Also, it's not possible
   to highlight the thumb when the scrollbar track is hovered without some
   JavaScript acrobatics; https://jsfiddle.net/QcqBM/6/ is a start, but you
   also have to check whether the element has a scrollbar and if so how wide
   it is. */
.force-show-scrollbars ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Background-Specific CSS */

body {
    background-color: #F7F9FB;
    background-color: var(--main-background);
}

.hxighlighter-container {
    padding: 10px 10px;
    height: 100%;
    height: 100vh;
    overflow: auto;
    height: calc(100vh - var(--nav-bar-offset));
    margin-top: var(--nav-bar-offset);
}

#navigationBar {
    position: fixed;
    height: 50px;
    background: black;
    top: 0;
    display: block;
    width: 100%;
    z-index:999;
    overflow:hidden;
}

.pagination {
    width: 300px;
    overflow: auto;
    margin-top: 0px;
}

#navigationBar #home {
    float: left;
    font-size: 2em;
    color: white;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 15px;
}

a#prev_target_object {
    float: left;
    margin: 8px;
    position: relative;
    margin-left: 20px;
}

.pagination .pages {
    float: left;
    font-size: 1.5em;
    color: white;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

a#next_target_object {
    float: left;
    margin: 8px;
    position: relative;
}

.hx-confirm-button {
    position: absolute; font-size: 10px; line-height: 1; z-index:9999;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    margin-top: -41px;
}

.hx-confirm-button button {
    width: 36px;
    height: 36px;
    color: white;
    font-size: 20px;
    text-align: center;
    background: #333;
    outline: white;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.39);
    border-radius: .4em;
}

/*.hx-confirm-button button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}*/