/**
 * 
 */


:root {
    --text-background: #FFFFFF;
    --text-accent-color: #687864;
    --accent-color: #595959;
    --light-font-color: #fff;
    --accent-font-color: #888;
    --dark-font-color: #000;
    --pop-color: #2E75AF;
    --lighter-background: #ededed;
}

body {
    overflow-y: scroll;
    width: 100%;
}

.annotation-slot {
    background: white;
    background: var(--text-background);
    padding: 30px 50px;
    border: 1px solid #888;
    margin-top: 20px;
    border-color: var(--text-accent-color);
    -webkit-box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    -moz-box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    min-width: 733px;
    min-width: calc(733px - var(--sidebar-width));
}

.btn-default {
    background: #ededed;
    background: var(--lighter-background);
}

.hx-selector-img {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
}

.annotator-hl img {
    border: 3px solid yellow;
    outline: 1px solid black;
}

.inst .fa-certificate {
    color: var(--pop-color);
}

.annotator-wrapper {
    margin-bottom: 20px;
}

span.annotation-mine {
    /*text-decoration: underline dashed;*/
}

span.annotation-instructor {
    /*text-decoration: underline wavy;*/
}

#viewer { 
    position: fixed; 
    height:100%; 
    height: calc(100% - 27px); 
    height: -webkit-calc(100% - 27px);
    height:-moz-calc(100% - 27px);
    top: 27px;
    left: 0;
    min-width: 733px;
    min-width: calc(733px - var(--sidebar-width));
    width: calc(100% - var(--sidebar-width));
    left: var(--sidebar-width);
}

.qtip {
    max-width: 445px!important;
}

.mirador-container .annotation-tooltip {
    padding: 4px!important;
}

.note-editing-area {
    cursor: text;
}
