/**
 * 
 */

:root {
    --text-background: #FFFFFF;
    --text-accent-color: #687864;
    --accent-color: #333;
    --light-font-color: #fff;
    --accent-font-color: #888;
    --dark-font-color: #000;
    --pop-color: #31708E;
    --lighter-background: #ededed;
}

.annotation-slot {
    background: white;
    background: var(--text-background);
    padding: 30px 50px;
    border: 1px solid #888;
    border-color: var(--text-accent-color);
    -webkit-box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    -moz-box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    box-shadow: 4px 4px 15px -5px rgba(97,96,97,0.79);
    min-width: 733px;
    min-width: calc(733px - var(--sidebar-width));
}

.btn-default {
    background: #ededed;
    background: var(--lighter-background);
}